nav{
background-color: burlywood;
margin-bottom: 30px;
}
nav ul a{
    font-weight: bold;
}
nav i.material-icons{
    font-size: 50px;
    padding-left: 10px;
}
.banner {
    display: flex;
    align-items: center;
}
.image-galary {
    height: 300px;
}
.bannerText{
    font-size: 60px;
}
.category .input-field {
    padding-top: 50px;
    display: inline-block;
    width:20%
}

.category label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: #000;
    margin-right: 32px;
}
.tile-image{
margin-bottom: 70px;
}
.tile-image img{
width: 200px;
height: 200px;
}

.pet-detail label{
    margin-bottom: 20px;
    display: inline-block;
}
.page-footer {
    padding: 0px 10px;
    color: #fff;
    background-color: burlywood;
    position: fixed;
    bottom: 0;
    width: 100%;
} 
.page-footer .footer-copyright{
    background-color: burlywood;
}

.page-footer .footer-copyright a{
    margin-left: 15px;
}
#termConditions{
    text-align: center  ;
}